body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  background-image: url('../public/assets/fondo.jpeg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  color: rgba(255, 255, 255, 0.377);
  padding: 20px;
}

footer {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}